@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #27272a;
    color: #fff;
}
::selection{
    background-color: #00ff99;
    color: #000;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #27272a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #00ff99;
    border-radius: 10px;
}
